{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
{% block title %}
    صفحه اصلی | فروشگاه کارزیبا
{% endblock %}
<body>

{% block content %}
    {% include 'shared/_messages.html' %}
    {#    main#}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for number in range %}
                                <li data-target="#slider-carousel" data-slide-to="{{ number }}"
                                    class="{{ forloop.first|yesno:'active,' }}"></li>

                            {% endfor %}
                            {#                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>#}
                            {#                            <li data-target="#slider-carousel" data-slide-to="1"></li>#}
                        </ol>

                        <div class="carousel-inner">
                            {% for slider in sliders %}
                                <div class="item {{ forloop.first|yesno:'active,' }}">
                                    <div class="col-sm-6">
                                        <h1>{{ slider.title }}</h1>
                                        <p> {{ slider.description }} </p>
                                        <a target="_blank" href="{{ slider.link }}" class="btn btn-default get">توضیحات
                                            بیشتر</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <img width="500px" src="{{ slider.image.url }}" class="girl img-responsive"
                                             alt="{{ slider.title }}"/>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">

                <div class="recommended_items"><!--NewProduct_items-->
                    <a href="{% url 'products:most_visited_products' %}"><h2 class="title text-center">پر بازدیدترین
                        محصولات</h2></a>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for group in most_visit %}
                                <div class="item {{ forloop.first|yesno:'active,' }}">
                                    {% for item in group %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="{{ item.image.url }}" alt="{{ item.title }}"/>
                                                        <h2>{{ item.price }} تومان </h2>
                                                        <p>{{ item.title }}</p>
                                                        <a href="{{ item.get_absolute_url }}"
                                                           class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>مشاهده جزِئیات</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/NewProduct_items-->

                <div class="col-sm-12 padding-right">
                    <div class="features_items"><!--RetailSale_items-->
                        <a href="{% url 'products:last_product_list' %}"><h2 class="title text-center">آخرین
                            محصولات</h2></a>
                        <div id="new-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for group in latest_products %}
                                    <div class="item {{ forloop.first|yesno:'active,' }}">
                                        {% for item in group %}
                                            <div class="col-sm-3">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="{{ item.image.url }}" alt="{{ item.title }}"/>
                                                            <h2>{{ item.price }} تومان </h2>
                                                            <p>{{ item.title }}</p>
                                                            <a href="{{ item.get_absolute_url }}"
                                                               class="btn btn-default add-to-cart"><i
                                                                    class="fa fa-shopping-cart"></i>مشاهده جزئیات</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#new-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--RetailSale_items-->

                    <div class="category-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">

                                {% for category in categories %}
                                    <li class="{{ forloop.first|yesno:'active,' }}"><a
                                            href="#Tab_00{{ forloop.counter }}"
                                            data-toggle="tab">{{ category.title }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="tab-content">
                            {#                            <div class="tab-pane fade active in" id="Tab_001">#}


                            {% for category in categories %}
                                <div class="tab-pane fade {{ forloop.first|yesno:'active in,' }}"
                                     id="Tab_00{{ forloop.counter }}">
                                    {% for item in category.get_last_products %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="{{ item.image.url }}" alt="{{ item.title }}"/>
                                                        <h2>{{ item.price }} تومان </h2>
                                                        <p>{{ item.title }}</p>
                                                        <a href="{{ item.get_absolute_url }}"
                                                           class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>مشاهده جزئیات</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}


                        </div>
                    </div><!--/category-tab-->

                </div>

            </div>
        </div>
    </section>
{% endblock %}

</body>
</html>